# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
.env
venv/
env/
ENV/
.venv/
.Python

# =========================
# Python Build & Cache
# =========================
build/
dist/
*.manifest
*.spec
pip-wheel-metadata/
__pypackages__/

# =========================
# IDE & System Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Virtual environments & databases
# =========================
*.sqlite3
*.db

# =========================
# Lambda & Deployment
# =========================
lambda_deploy.zip
*.zip
*.tar.gz
*.log
*.bak
*.tmp
*.swp
node_modules/
package-lock.json

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
*.tfvars.json
*.backup
*.tfplan

# Ignore Terraform provider binaries
terraform-provider-*
.terraform.lock.hcl

# =========================
# OS Temp Files
# =========================
*.tmp
*.temp
*.bak
*.old
